<section id="home-container">
  <div id="map-container" class="svgmap"></div>
  <div id="logo">
    weathersick
    <span>beta</span>
  </div>
  <div id="spinner"></div>
  <div id="search-container">
    <form id="search-form" class="row-fluid">
      <div class="search-part">
        <label>Take me from</label>
        <input name="from" type="text" placeholder="Airport" class="typeahead" value="<%= @airport.iata_code %>" />
        <div id="typeahead-spinner"></div>
      </div>
      <div class="search-part">
        <label >to somewhere</label>
        <div class="weather"><span>1</span> sunny</div>
      </div>
      <div class="search-part">
        <label>from</label>
        <input name="date_from" type="text" class="datepicker input-date" value="<%= @date_from %>" />
      </div>
      <div class="search-part">
        <label>to</label>
        <input name="date_to" type="text" class="datepicker input-date" value="<%= @date_to %>" />
      </div>
      <div class="search-part">
        <label><i class="icon-group"></i></label>
        <input name="passengers" type="text" class="input-mini" value="2" />
      </div>
      <a class="btn btn-large btn-primary btn-block" id="search-submit">GO</a>
    </form>
  </div>
  <div id="description">
    <p>Sick of the weather at home? Weathersick tells you where to go to find a warm and sunny place.</p>
    <p>You'll get a selection of cities, flights, and hotels. Try it!</p>
    <p class="small">Heads up! We'll try to  detect your closest airport, but if we're wrong, <br /> you can search for another. Then select your dates and go!</p>
    <p class="small"><a href="feedback@weathersick.com">feedback?</a></p>
  </div>

  <div id="results-container">
    <div id="results-description">
      <div class="city">City</div>
      <div class="chance">Chance of</div>
      <div class="description">Description</div>
    </div>
    <div id="cities"></div>
  </div>
</section>

