<section id="home-container">
  <div id="logo">
    weathersick
  </div>
  <div id="spinner">
  </div>
  <div id="search-container">
    <form id="search-form" class="row-fluid">
      <div class="search-part">
        <label>Take me from</label>
        <input name="from" type="text" placeholder="Airport" class="typeahead" value="<%= @airport.iata_code %>" />
      </div>
      <div class="search-part span3">
        <label >to somewhere</label>
        <div class="weather"><span>1</span> sunny</div>
      </div>
      <div class="search-part">
        <label>from</label>
        <input name="from" type="text" class="datepicker input-medium" value="<%= @date_from %>" />
      </div>
      <div class="search-part">
        <label>to</label>
        <input name="to" type="text" class="datepicker input-medium"value="<%= @date_to %>" />
      </div>
      <input name="location" type="hidden" />
      <a class="btn btn-large btn-primary btn-block" id="search-submit">GO</a>
    </form>
  </div>
  <div id="search-results">
  </div>
  <div id="cities" class="search-results">
  </div>
</section>

