// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$turquoise: rgb(22,252,172);
$magenta: rgb(255,2,210);
$cyan: rgb(14,239,235);
$yellow: rgb(255,247,28);
$orange: rgb(255,132,66);

$blue: rgb(27,71,121);
$blue: rgb(54,110,157);

$black50: rgba(0,0,0,0.5);
$shadow1: 0 0 1px;
$shadow3: 0 0 3px;
$shadow5: 0 0 5px;
$shadow7: 0 0 7px;
$shadow9: 0 0 9px;

$font-script: 'Oleo Script', 'Georiga', 'Times new roman', serif;
$font-head: 'Cabin Condensed', 'Helvetica', 'Arial', sans-serif;
$font-mono: 'Inconsolata', 'Consolas', 'Menlo', 'Andale Mono', monospace;

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from 0%, $to 50%);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: asset-url('meteocons-webfont.eot', 'fonts');
    src: asset-url('meteocons-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('meteocons-webfont.woff', 'fonts') format('woff'),
         asset-url('meteocons-webfont.ttf', 'fonts') format('truetype'),
         asset-url('meteocons-webfont.svg#MeteoconsRegular', 'fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'ClimaconsRegular';
    src: asset-url('climacons-webfont.eot', 'fonts');
    src: asset-url('climacons-webfont.eot?#iefix', 'fonts') format('embedded-opentype'),
         asset-url('climacons-webfont.woff', 'fonts') format('woff'),
         asset-url('climacons-webfont.ttf', 'fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$bg: #333;


body {
  // background-color: $bg;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: $blue;

  div.clouds {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;

    canvas {
      // TODO better mixin
      background-image: -webkit-linear-gradient(#1e4877 0%, #4584b4 50%);
      // background-image: -webkit-radial-gradient(10% 30%, #1e4877, #4584b4);
      
      position: fixed;
      width: 100%;
      height: 100%;
    }
  }
}


#wrapper {
  margin: 0 auto; 
  width: 980px;
}

#home-container {
  width: 100%;  

  #spinner {
    position: absolute;
    top: 25%;
    width: 100px;
    height: 100px;
    left: 50%;
    display: none;
  }

  #logo {
    position: absolute; 
    height: 100px;
    width: 960px;
    top: 20%;
    font-family: 'oleo script';
    font-size: 96px;
    text-shadow: 0 0 20px white;
    color: white;
    text-align: center;
  }
  
  #description {
	  position: absolute;
	  width: 960px;
	  top: 60%;
	  font-family: $font-script;
    text-shadow: 0 0 30px lighten($yellow, 15%);
    color: $blue;
    text-align: center;
	  font-size: 22px;
    line-height: 28px;
	  
	  .small {
		  font-size: 12px;
      font-weight: bold;
      font-family: $font-mono;
      text-shadow: 0 0 20px lighten($yellow, 15%);
	  }
  }

  #search-container {

    position: absolute;
    height: 80px;
    top: 45%;

    margin: 0 auto;
    width: 956px;
    font-family: $font-script;
    text-align: center;
    box-shadow: 0 0 20px $black50;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: -50px;
    float: left;
    color: white;
    border-top: 3px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;

//    background: #87e0fd;
//    background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
//    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
//    background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
//    background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
//    background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
//    background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
//    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );

    @include gradient(#383838, #000000);

}

  #search-form {
    width: 960px;
    -webkit-font-smoothing: subpixel-antialiased;

    .search-part {

      float: left;
      padding: 3px;

      label {
        font-size: 28px;
        margin-bottom: 15px;
        color: white;
        text-align: left;
        display: block;
        text-shadow: -1px -1px 1px black;
      }

      input[type="text"] {
        font-size: 22px;
        line-height: 28px !important;
        height: 28px;
        background-color: transparent !important;
        border: none !important;
        border-radius: 0px !important;
        color: $yellow;
        padding: 3px 0;
        border-bottom: 1px solid $yellow !important;
        font-family: 'oleo script';
        box-shadow: none !important;
      }

      input, select {
        margin-bottom: 0px;
        outline: none !important;
      }

      .weather {
        font-size: 30px;
        line-height: 24px;
        cursor: pointer;
        position: relative;
        top: 2px;
        left: 20px;

        span {
          font-family: 'ClimaconsRegular';
          font-size: 34px;
          position: absolute;
          top: 2px;
          left: 15px;

          color: $yellow;
          text-shadow: 0 0 20px $orange;
        }
      }
    }

    .search-part:not(:first-child)  {
      margin-left: 10px;
    }

    #search-submit {
      position: absolute;
      right: 10px;
      width: 130px;
      height: 80px;
      font-size: 45px;
      font-family: 'oleo script';
    }

    #search-submit-container {
    }
  }


  .front {
    width: 938px;
    padding: 20px;
    height: 100px;
    font-size: 24px;
    border-radius: 10px;
    // @include gradient($cyan, darken($cyan, 2%));
    background: $cyan;
    border-top: 3px solid darken($cyan, 10%);
    border-left: 1px solid darken($cyan, 5%); 
    border-right: 1px solid darken($cyan, 5%); 
    border-bottom: 2px solid darken($cyan, 10%);

    position: absolute;
    z-index: 1;
    cursor: pointer;

    box-shadow: $shadow3 $black50;

    font-family: 'Inconsolata';

    .price {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 100px;
      height: 100px;

      font-size: 36px;
      font-family: 'helvetica neue';
      font-weight: 500;
      border-radius: 75px;
      background-color: darken($orange, 10%);
      // background-image: url('price-paper.png');
      box-shadow: inset $shadow3 $black50;
      border: 7px solid $orange;
      color: white;

      div.spinner {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
        background-color: darken($orange, 10%);
        border-radius: 75px;
      }
     
      // -webkit-transform: rotate(5deg);

      div.from {
        position: relative;
        font-size: 19px;
        top: 10px;
        text-align: center;
        font-weight: 900;
        color: rgba(0,0,0,0.3)
      }
      div.fare {
        position: relative;
        top: 22px;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: $shadow7 $yellow;
        font-family: 'oleo script';
      }

      div.way {
        position: relative;
        top: 30px;
        font-size: 12px;
        text-align: center;
        font-weight: 900;
        color: rgba(0,0,0,0.3)
      }
    }
  }

  .back {
    -webkit-transform: rotateX(-180deg);
    cursor: pointer;
    position: absolute;
    width: 920px;
    padding: 20px 30px;
    height: 100px;
    font-size: 24px;
    border-radius: 10px;
    @include gradient(darken($cyan, 5%), darken($cyan, 9%));
    border-top: 3px solid darken($cyan, 10%);
    border-bottom: 2px solid darken($cyan, 10%);
    box-shadow: $shadow3 $black50;

   .segment {
      font-size: 14px;
      line-height: 14px;
      font-family: "Inconsolata";
    }
  } 
}

#results-container {
  position: absolute;
  top: 180px;
  display: none;
}

#cities {
  float: left;
  margin-top: 20px;
}


#results-description {
  float: left;
  color: white;
  font-family: 'oleo script';
  font-size: 22px;
  text-shadow: $shadow3 $black50;

  .city {
      width: 320px;
      margin-left: 20px;
      float: left;
  }
  .chance {
      width: 130px;
      margin-left: 20px;
      float: left;
  }
  .description {
      width: 400px;
      margin-left: 20px;
      float: left;
  }
}

.flip {
  -webkit-perspective: 800;
  height: 145px;
  width: 980px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}

.flip .card.flipped {
  -webkit-transform: rotateX(-180deg);
}

.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  height: 145px;
  width: 980px;
  position: relative;
}

.flip .card .face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  
}
.flip .card .front {

}

.city-info {
  width: 300px;
  height: 100px;
  margin: -20px;
  margin-right: 20px;
  padding: 20px;
  border-right: 1px solid darken($cyan, 10%);
  
  float: left;

  .city-name {
    font-family: $font-head;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .province-country-name {
    font-family: $font-head;
    font-size: 14px;
  }

}

.city-weather {
  height: 120px;
  margin: -20px;
  margin-right: 20px;
  padding: 10px 20px;
  border-right: 1px solid darken($cyan, 10%);

  float: left;

  .city-weather-row {

    font-size: 20px;
    color: darken($cyan, 20%);

    td {
      text-align: center;
      vertical-align: middle;
      height: 25px;
      padding: 3px 5px;
    }

    td.temp {
      font-family: $font-script;
    }

    span.icon {
        font-family: 'MeteoconsRegular';
        font-size: 25px;
    }

  }
}
